{{ header }}
<div id="ttmgalleryalbum-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2 class="page-title">{{ heading_title }}</h2>
        <div class='row'>
        {% for gallery_album in gallery_albums %}
         <div class='col-sm-4 gallery_album'>
          <div class="gallery-thumbnail">
            <a class="gallery-image" href="{{ gallery_album.url}}" title="{{ text_album }}"><img src="{{ gallery_album.image }}" class="img-responsive"></a>
            <div class="album-title">
              <span>{{ gallery_album.title }}</span>
            </div>
         </div>
        </div>
         {% endfor %}
		 </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}