{% if currencies|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency" title="{{ text_currency }}">
  <div class="btn-group">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      {% for currency in currencies %}
      {% if currency.symbol_left and currency.code == code %}
   
		<span class=""> {{ currency.symbol_left }} {{ text_currency }} <i class="fa fa-angle-down"></i></span></button>	   
       {% elseif currency.symbol_right and currency.code == code %} 
    
	   <span class=""> {{ currency.symbol_right }} {{ text_currency }} <i class="fa fa-angle-down"></i></span></button>
       {% endif %}
      {% endfor %} 
      
      <ul class="dropdown-menu ttm_currency_menu">
        {% for currency in currencies %}
        {% if currency.symbol_left %}
        <li>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button>
        </li>
        {% else %}
        <li>
          <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
</div>
{% endif %} 