{% if languages|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
  <div class="btn-group">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" title="{{ text_language }}">
      {% for language in languages %}
      {% if language.code == code %} 
      
	  <span class="">{#  <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}">  #}{{ text_language }} <i class="fa fa-angle-down"></i></span></button>
      {% endif %}
      {% endfor %}
      
      <ul class="dropdown-menu ttm_language_menu">
        {% for language in languages %}
		{% if language.code == code %} 
        <li class="current">
          <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}" title="{{ language.name }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
        </li>
		{% else %}
		<li>
          <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}" title="{{ language.name }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
        </li>
		{% endif %}
        {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
</div>
{% endif %}
